*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    background-color: #f0f6ff;
    height: 600px;
    overflow-x: left;
    border-bottom-left-radius: 20px;
    overflow-y: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    padding-left: 10em;
}
.navbar ul {
    margin-left: 10em;
     display: flex;
     list-style: none;
     gap: 3em;
     position: relative;
     font-size: 18px;
     line-height: 100%;
     line-height: 18px;
     top: 0.9em;
     color: #282b6d;
}
.dinery{
    color:#282b6d ;
    font-size: 30px;
    font-style: 700;
    position: relative;
    top: 0.1em;
}
.trial-button4 {
    border: solid;
    background-color:#ffffff;
    border: none;
    width: 7em;
    height: 1.8em;
    border-radius: 10px;
    position: relative;
    bottom: 0.5em;
    font-size: 20px;
    color: #282b6d;
}
.quick{
    display: flex;
    padding: 10em 0em 0em 10em;
}
.grey{
    height: 500px;
    width: 540.90px;
    background-color:#dde3eb;
    position: relative;
    left: 50em;
    bottom: 32em;
}
.white{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    height: 36px;
    border: none;
    color: #ffffff;
}
.pay{
    color: #fe9168;
    letter-spacing: 1;
    font-size: 16px;
    font-weight: 500;
}
.bank{
    color: #282b6d;
    line-height: 80px;
    font-size: 60px;
    letter-spacing: -0.5px;
    font-weight: 800;
}
span{
    color: #5735d2;
}
.inno{
    color:#9aa5b6 ;
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
}
.get{
    color: #ffffff;
    line-height: 28.8px;
    font-size: 16px;
    font-weight: 700;
    background-color: #5735d2;
    height: 61px;
    width: 169px;
    border-radius: 12px;
    padding:16px 32px 16px 46px ;
}
.more{
    height: 61px;
    width: 169px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding:19.5px 32px 16px 46px;
    color: #5735d2;
    position: relative;
    left: 200px;
    bottom: 3.8em;
}
.trust{
    text-align: center;
    align-items: center;
    padding-top: 12em;
}
.trusted{
    color: #fe9168;
    font-size: 16px;
    line-height: 20.16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.our{
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: #282b6d;
}
.have{
    color:#9AA5B6;
    font-weight: 400;
    font-size: 16px;
    line-height:40px;
}
.pink{
    display: flex;
    padding: 5em 0em 0em 11em;
    gap: 3em;
}
.yellow{
    height: 40px;
    width: 170px;
    background-color: #d7dce5;
}
.yello{
    height: 40px;
    width: 170px;
    background-color: #d7dce5;
}
.green{
    height: 40px;
    width: 170px;
    background-color: #d7dce5;
}
.red{
    height: 40px;
    width: 170px;
    background-color:#d7dce5;
}
.yell{
    height: 40px;
    width: 170px;
    background-color: #d7dce5;
}
.benefit{
    display: flex;
    padding: 13em 0em 0em 10em;
    gap: 22em;
}
.when{
    font-weight: 400;
    font-size: 16px;
    color: #9AA5B6;
    line-height:28px;
    padding-top: 4em;
}
.group{
    display: flex;
    padding: 7em 0em 0em 10em;
    gap: 5em;
}
.group1{
    background-color: #f8faff;
    border-radius: 12px;
    border: solid;
    border: none;
    height: 300px;
    width: 300px;
}
.fee{
    margin: 5em 0em 1em 1em;
    color: #282b6d;
    font-size: 20px;
    font-weight: 700;
}
.cost{
    color: #9AA5B6;
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    position: relative;
    left: 1.3em;
}
.fees{
    color:#5735d2 ;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    position: relative;
    left: 1.3em;
    top: 1.5em;
}
.item{
    position: relative;
    left: 0px;
    top: 0px;
}
.item1{
    position: relative;
    bottom: 0.9em;
    left: 1.7em;
}
.item5{
    position: relative;
    top: 0.2em;
    right: 3.6em;
}
.exchange{
    display: flex;
    padding-left: 10em;
    margin-top: 10em;
    gap: 14em;
}
.fifth{
    border: solid #eef1f7;
    width: 400px;
    background-color: #ffffff;
    border-radius: 18px;
    height: 570px;

}
.mon{
    display: flex;
    gap: 5em;
    border: solid;
    width: 330px;
    background-color: #f7f8fa;
    border-radius: 12px;
    border: none;
    margin-top: 2em;
    margin-right: 10em;
    margin-left: 2em;
}
.you{
    padding:1em 0em 0em 1em;
}
.vert{
    position: relative;
    left: 2em;
    bottom: 1.1em;
}
.cut{
    color: #282b6d;
    position: relative;
    bottom: 0.5em;
}
.usd{
    border: solid;
    margin:1em 1em 0em 0em;
    height: 50px;
    margin-bottom: 1em;
    width: 220px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}
#name{
    position: relative;
    left: 3em;
    bottom: 1em;
}
#go{
    position: relative;
    left:6em;
    bottom: 2.5em;
}
#got{
  position: relative;
  left: 0.7em;
  top: 0.4em;
}
.keep{
    display: flex;
    gap: 5em;
    margin-left: 2em;
    padding-top: 2em;
}
.he1{
   margin-bottom:0.5em ;
   color: #9AA5B6;
}
.he2{
    margin-bottom: 0.5em;
    color: #9AA5B6;
}
.hi{
    margin-left:  0.6em;
    margin-bottom: 0.5em;
}
.hi2{
    margin-left:  0.6em;
    margin-bottom: 0.5em;
}
.hi3{
    margin-left:  0.6em;
    margin-bottom: 0.5em;
}
.keep2{
    display: flex;
    color: #9AA5B6;
}
.cuts{
    color: #282b6d;
    position: relative;
    bottom: 0.5em;
    font-weight: 700;
}
.trial-button1{
    border: solid;
    background-color: #fe9168;
   width: 330px; 
   margin: 1.5em 0em 0em 1.5em;
   color: white;
   border-radius: 12px;
   border: none;
   height: 68px;
}
.click{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
}
.his{
    padding-left: 5em;
}
.lin{
    font-weight: 400;
    font-size: 16px;
    color: #9AA5B6;
    line-height: 32px;
}
.lin1{
    font-weight: 400;
    font-size: 16px;
    color: #9AA5B6;
    line-height: 32px;
    margin-top: 3em;
}
.half{
    display: flex;
    gap: 7em;
    color: #282b6d;
    margin: 1.5em 0em 1em 0em;
}
.trial-button2{
    border: solid;
    background-color: #5735d2;
   width: 167px; 
   margin: 1.5em 0em 0em 0em;
   color: white;
   border-radius: 12px;
   border: none;
   height: 60px;
}
.guide{
    display: flex;
    padding:10em 0em 0em 10em;
    gap: 10em;
}
.clash{
    border: solid #eef1f7;
    border-radius: 18px;
    width: 502px;
    height: 530px;
}
.light{
    background-color:#bbc5d8;
    height: 80px;
    width: 80px;
    margin: 2em 0em 0em 12.5em;
    border-radius: 50px;
}
.milo{
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 0em 0em 0em 13.9em;
    margin-top: -2.8em;
    width: 48px;
    height: 60px;
}
.milo1{
    background-color: #e9ecf3;
    width: 14px;
    height: 4px;
    border-radius: 19px;
    margin-top: -3.2em;
    margin-left: 15.5em;
}
.milo2{
    background-color: #e9ecf3;
    height: 4px;
    width: 38px;
    border-radius: 14px;
    margin-top: 0.2em;
    margin-left: 14em;
}
.milo3{
    background-color: #e9ecf3;
    height: 4px;
    width: 28px;
    border-radius: 14px;
    margin-left: 14em;
    margin-top: 0.4em;
}
.src{
    margin-left: 16em;
    margin-top: -0.5em;
}
.milo4{
    background-color: #e9ecf3;
    height: 4px;
    width: 23px;
    border-radius: 14px;
    margin-left: 14em;
    margin-top: -0.8em;
}
.kim{
    font-size: 18px;
    line-height: 22.68px;
    font-weight: 800;
    margin-left: 10.8em;
    color: #282b6d;
    margin-top: 1em;
}
.view{
    color: #9AA5B6;
    font-size: 15px;
    line-height: 18.9px;
    font-weight: 400;
    margin-left: 10em;
    margin-top: 0.5em;
}
.tails{
    border: solid #eef1f7;
    width: 422px;
    height: 290px;
    border-radius: 12px;
    margin-left: 2.5em;
    margin-top: 1em;
}
.aria{
    font-weight: 700;
    line-height: 20.16px;
    color: #9AA5B6;
    margin: 1em;
}
.emilia{
    display: flex;
    gap: 5em;
    margin: 1em;
    background-color: #f7f8fa;
    height: 100px;
    border-radius: 12px;
    padding: 1em;
}
.sans{
    color: #282b6d;
    font-weight: 700;
    font-size: 18px;
}
.man{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9AA5B6;
}
.emil{
    font-weight: 700;
    font-size: 18px;
    line-height: 32.4px;
    color: #9AA5B6;
}
.emia{
    color: #282b6d;
    font-weight: 700;
    font-size: 18px;
}
.sucess{
    color: #14c186;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
}
.issue{
    display: flex;
    padding: 1em;
    margin: 1em;
}
.kill{
    margin-left: 16em;
    margin-top: -6em;
}
.dey{
    font-size: 14px;
    line-height: 18px;
    line-height: 100%;
    color: #9AA5B6;
}
.visa{
    border: solid #9AA5B6;
    color: #2566af;
    background-color: white;
    height: 7.85px;
}
.hise{
    padding-left: 10em;
    padding-top: 1em;
}
.cap{
    padding-left: 10em;
    padding-top: 10em;
}
.million{
    margin-top: -33em;
    text-align: center;
}
.back{
    font-weight: 400;
    font-size: 16px;
    line-height: 28.8px;
    color:#9AA5B6 ;
    margin-top: 1em;
}
.happy{
   height: 88px; 
   width: 88px;
   border-radius: 50px;
   background-color: #c4c4c4;
   margin:3em 0em 1em 40em;
}
.kill1{
    position: relative;
    right: 12em;
    top: 2.5em;
}
.happy1{
    position: relative;
    left: 12em;
    bottom: 3.3em;
}
.enter2{
    display: flex;
    gap: 0.4em;
    margin-left: 40.8em;
    margin-top: 1em;
}
.enter{
    background-color: #5735d2;
    height: 8px;
    width: 8px;
    border-radius: 20px;
}
.enter1{
    background-color: #d8dade;
    height: 8px;
    width: 8px;
    border-radius: 10px;
}
.kell{
    display: flex;
    gap: 40em;
}
.kilt{
    display: flex;
    gap: 45em;
    margin-right: 12em;
}
.lie{
    display: flex;
    gap: 42em;
    margin-left: 3em;
}
.cake{
    background-color: #c4c4c4;
    border-radius: 50px;
    height: 72px;
    width: 72px;
    margin-left: 10em;
    position: relative;
    bottom: 22em;
}
.cake1{
    background-color: #c4c4c4;
    border-radius: 50px;
    height: 56px;
    width: 56px;
    margin-left: 10em;
    position: relative;
    bottom: 15em;
}
.cake2{
    background-color: #c4c4c4;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin-left: 10em;
    position: relative;
    bottom: 11em;
}
.room{
    background-color: #e5f0ff;
    height: 450px;
}
.room1{
    text-align: center;
    padding-top: 6em;
}

.label
{
    border: 1px solid #ffffff;
    display: flex;
    background-color: white;
    width: 350px;
    height: 72px;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
   margin:2em 0em 0em 30em;
}
#email
{
    border: none;
    outline: none;
}

#email::placeholder
{
    font-family: sans-serif;
    size:16px;
    font-weight: 400;
    color: #9AA5B6;
}

.trial-button3
{
    border: solid;
    background-color: #5735d2;
   width: 167px; 
   margin: 0em 0em 0em 0em;
   color: white;
   border-radius: 12px;
   border: none;
   height: 50px;
   font-weight: 500;
}
.pricing{
    display: flex;
    padding-left: 8em;
    gap: 5em;
    margin-top: 10em;
    margin-bottom: 3em;
}
.kal{
    font-weight: 700;
    color: #282b6d;
    line-height:20.16px ;
   margin-bottom: 1em;
}
.doc{
    color: #9AA5B6;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}
.gey{
    display: flex;
    height: 50px;
    width: 300px;
    border-radius: 8px;
    border: solid #e6e6e6;
    /* border-width: 1px; */
    background-color: white;
}
.nery{
    display: flex;
    padding-left: 10em;
    gap: 5em;
    margin-top: 2em;
}
.served{
    margin-top: 1em;
}